@model IEnumerable<SecurityMS.Infrastructure.Data.Entities.BankTransactions>

@{
    ViewData["Title"] = "معاملات الحساب";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>قائمة معاملات بنك @ViewBag.Bank.Name</h1>
<h4>عدد المعاملات : @ViewBag.Transactions</h4>


<p>
    <a asp-action="Create" asp-route-id="@ViewBag.Bank.Id" >معاملة جديدة</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
                        <th>
                @Html.DisplayNameFor(model => model.TransactionNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null)
        {
             @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
                        <td>
                @Html.DisplayFor(modelItem => item.TransactionNumber)
            </td>
            <td>
@*                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
*@                <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-eye"></i></a> 
@*                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
*@
            </td>
        </tr>
}
        }
       
    </tbody>
</table>
