@model SecurityMS.Infrastructure.Data.Entities.SiteEmployeeAttendanceEntity

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>هل تريد حذف يومية @Model.Employee.Name بتاريخ @Model.AttendanceDate.ToShortDateString()</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttendanceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttendanceDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Site)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Site.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShiftType.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttendanceStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttendanceStatus.Name)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a class="btn btn-link" onclick="back()">رجوع</a>
    </form>
</div>
