@model IEnumerable<SecurityMS.Infrastructure.Data.Entities.SiteEmployeeAttendanceEntity>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>يوميات حضور قسم العمليات</h2>

<p class="mt-3">
        <a class="btn btn-primary" onclick="addNewAttendanceModal()">تسجيل يومية</a>
    </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AttendanceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Site)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShiftType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttendanceStatus)
            </th>
             <th class="noprint">
                    <a class="btn btn-primary" onclick="toggleSearch()"><i class="fa fa-filter"></i></a>
                </th>
        </tr>
        <tr class="noprint d-none" id="searchBar">
            <th>
                <label for="fromDate">من</label>
                <input placeholder="من..." type="date" class="form-control mb-1" id="fromDate"/>
                <label for="toDate">إلى</label>
                <input placeholder="إلى..." type="date" class="form-control" id="toDate" />
            </th>
            <th>
                <input placeholder="أسم الموظف..." class="form-control"  id="employeeName"/>
            </th>
            <th>
                <label for="siteId" class="control-label"></label>
                <select class="form-control" asp-items="ViewBag.SiteId" id="siteId"></select>
            </th>
            <th>
                <label for="shiftTypeId" class="control-label"></label>
                <select class="form-control" asp-items="ViewBag.ShiftId" id="shiftTypeId"></select>
            </th>
            <th></th>
            <th>
                <button class="btn btn-info" onclick="searchEmployees()">بحث</button>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.AttendanceDate.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Site.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShiftType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AttendanceStatus.Name)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="row">
    <div class="col-12 mt-3 text-right">
        <a asp-controller="Home" asp-action="Main" class="btn btn-default mt-3 mx-2">رجوع للرئيسية</a>
    </div>
</div>

<div class="modal fade" id="addAttendanceModal" tabindex="-1" role="dialog" aria-labelledby="addAttendanceModalLabel" aria-hidden="true">
</div>

@section scripts{ 
<script charset="utf-8" >
    function searchEmployees() {
        var fromDate = $("#fromDate").val();
        var toDate = $("#toDate").val();
        var employeeName = $("#employeeName").val();
        var siteId = $("#siteId").val();
        var shiftTypeId = $("#shiftTypeId").val();
        var uri = "/SiteEmployeeAttendance?";
        if (fromDate != "") {
            uri += "fromDate=" + fromDate + "&";
        }
        if (toDate != "") {
            uri += "toDate=" + toDate + "&";
        }
        if (employeeName != "") {
            uri += "employeeName=" + employeeName + "&";
        }
        if (siteId != "" && siteId > 0) {
            uri += "siteId=" + siteId + "&";
        }
        if (shiftTypeId != "" && shiftTypeId > 0) {
            uri += "shiftTypeId=" + shiftTypeId;
        }

        location.replace(uri)
    }
    function toggleSearch() {
        $("#searchBar").toggleClass("d-none");
    }
    $(document).ready(function () {
            $("input").keyup(() => {
                if (event.keyCode === 13) {
                    searchEmployees();
                }
            })
        var url = window.location;
        if (url.search && url.search != "") {
            $("#searchBar").removeClass("d-none");
            if (url.search.indexOf("fromDate") >= 0) {
                var fromDateQuery = url.search.split("fromDate=")[1];
                var fromDate = fromDateQuery.split("&")[0];
                $("#fromDate").val(decodeURIComponent(fromDate));
            }
            if (url.search.indexOf("toDate") >= 0) {
                var toDateQuery = url.search.split("toDate=")[1];
                var toDate = toDateQuery.split("&")[0];
                $("#toDate").val(decodeURIComponent(toDate));
            }
            if (url.search.indexOf("employeeName") >= 0) {
                var employeeNameQuery = url.search.split("employeeName=")[1];
                var employeeName = employeeNameQuery.split("&")[0];
                $("#employeeName").val(decodeURIComponent(employeeName));
            }
            debugger
            if (url.search.indexOf("siteId") >= 0) {
                var siteIdQuery = url.search.split("siteId=")[1];
                var siteId = siteIdQuery.split("&")[0];
                $("#siteId").val(decodeURIComponent(siteId));
            }
            if (url.search.indexOf("shiftTypeId") >= 0) {
                var shiftTypeIdQuery = url.search.split("shiftTypeId=")[1];
                var shiftTypeId = shiftTypeIdQuery.split("&")[0];
                $("#shiftTypeId").val(decodeURIComponent(shiftTypeId));
            }
        }

        $('#addAttendanceModal').on('hide.bs.modal', function (event) {
            $("#addAttendanceModal").html('');
        })
    });

    function addNewAttendanceModal(){


            $.get("/SiteEmployeeAttendance/AddNewAttendance").done(function (response) {
                $("#addAttendanceModal").append(response)
                $("#addAttendanceModal").modal('show')
                $("select").select2();
            })
    }
</script>
}