@model SecurityMS.Infrastructure.Data.Entities.IncomeTaxesMatrix

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>جذف شريحه</h1>

<h3>هل تريد حذف هذه الشريحة؟</h3>
<div>
    <h4>IncomeTaxesMatrix</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RangeFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RangeFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RangeTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RangeTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxesPercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxesPercentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxesExemption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxesExemption)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="Index">رجوع</a>
    </form>
</div>
