@model SecurityMS.Core.Models.SecurityPersonsSalaryReportModel

<partial name="_SearchSalaryReportPartial" model="Model.searchModel" />

<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data.FirstOrDefault().EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.FirstOrDefault().Attendance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.FirstOrDefault().Absence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.FirstOrDefault().Apologizes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.FirstOrDefault().BreakDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.FirstOrDefault().Vacation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.FirstOrDefault().FinalSalary)
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Attendance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Absence)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apologizes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BreakDays)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vacation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinalSalary)
                </td>
            </tr>
        }

    </tbody>
</table>
       
        <div class="row">
    <div class="col-12 mt-3 text-right">
        <a asp-controller="Home" asp-action="Main" class="btn btn-default mt-3 mx-2">رجوع للرئيسية</a>
    </div>
</div>
<div class="row">
    <div class="col-12 mt-3 text-right">
        <a asp-controller="Home" asp-action="Main" class="btn btn-default mt-3 mx-2">رجوع للرئيسية</a>
    </div>
</div>
