@model IEnumerable<SecurityMS.Infrastructure.Data.Entities.ExchangeTypesLookups>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1> أنواع الصرف</h1>

<p>
    <a asp-action="Create">اضافه نوع صرف</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
           @* <th></th>*@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
           @* <td>
                <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-eye"></i></a> |
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-pencil-alt"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></a>
            </td>*@
        </tr>
}
    </tbody>
</table>
<div class="row">
    <div class="col-12 mt-3 text-right">
        <a asp-controller="Home" asp-action="SystemSettingsIndexView" class="btn btn-default mt-3 mx-2">رجوع</a>
        <a asp-controller="Home" asp-action="Main" class="btn btn-default mt-3 mx-2">رجوع للرئيسية</a>
    </div>
</div>