@model IEnumerable<SecurityMS.Infrastructure.Data.Entities.TreasuryDepositPermissionEntity>

@{
    ViewData["Title"] = "اذونات الاستلام";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>قائمة اذونات الاستلام</h1>
<h4>عدد الاذونات : @ViewBag.PermissionsNumber</h4>


<p>
    <a asp-action="Create">اذن جديد</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null)
        {
             @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
                <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-eye"></i></a> 
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>

            </td>
        </tr>
}
        }
       
    </tbody>
</table>
