@model IEnumerable<SecurityMS.Infrastructure.Data.Entities.SitesEntity>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>المواقع</h1>

<p>
    <a asp-action="Create">إنشاء موقع</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contracts.MainCustomer.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zone)
            </th>
            <th class="noprint">
                <a class="btn btn-primary" onclick="toggleSearch()"><i class="fa fa-filter"></i></a>
            </th>
        </tr>
        <tr class="noprint d-none" id="searchBar">
            <th>
                <input placeholder="الأسم..." class="form-control" id="name" />
            </th>
            <th>
                <input placeholder="العميل..." class="form-control" id="customer" />
            </th>
            <th>
                <input placeholder="العنوان..." class="form-control" id="address" />
            </th>
            <th>
                <input placeholder="المنطقة..." class="form-control" id="zone" />
            </th>
            <th>
                <button class="btn btn-info" onclick="searchSites()">بحث</button>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contracts.MainCustomer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zone.Name)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-eye"></i></a> 
            </td>
        </tr>
}
    </tbody>
</table>
<div class="row">
    <div class="col-12 mt-3 text-right">
        <a asp-controller="Home" asp-action="Main" class="btn btn-default mt-3 mx-2">رجوع للرئيسية</a>
    </div>
</div>

@section scripts{
    <script charset="utf-8">
        function searchSites() {
            var name = $("#name").val();
            var customer = $("#customer").val();
            var address = $("#address").val();
            var zone = $("#zone").val();
            var uri = "/Sites?";
            if (name != "") {
                uri += "name=" + name + "&";
            }
            if (customer != "") {
                uri += "customer=" + customer + "&";
            }
            if (address != "") {
                uri += "address=" + address + "&";
            }
            if (zone != "") {
                uri += "zone=" + zone;
            }

            location.replace(uri)
        }

        $(document).ready(function () {
            $("input").keyup(() =>{
                if (event.keyCode === 13) {
                    searchSites();
                }
            })
            var url = window.location;
            if (url.search && url.search != "") {
                $("#searchBar").removeClass("d-none");
                if (url.search.indexOf("name") >= 0) {
                    var nameQuery = url.search.split("name=")[1];
                    var name = nameQuery.split("&")[0];
                    $("#name").val(decodeURIComponent(name));
                }
                if (url.search.indexOf("customer") >= 0) {
                    var customerQuery = url.search.split("customer=")[1];
                    var customer = customerQuery.split("&")[0];
                    $("#customer").val(decodeURIComponent(customer));
                }
                if (url.search.indexOf("address") >= 0) {
                    var addressQuery = url.search.split("address=")[1];
                    var address = addressQuery.split("&")[0];
                    $("#address").val(decodeURIComponent(address));
                }
                if (url.search.indexOf("zone") >= 0) {
                    var zoneQuery = url.search.split("zone=")[1];
                    var zone = zoneQuery.split("&")[0];
                    $("#zone").val(decodeURIComponent(zone));
                }
            }
        })
    </script>
}