@model SecurityMS.Infrastructure.Data.Entities.Supplier

@{
    ViewData["Title"] = "Details";
}

<h1>بيانات مورد</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.supplyType.SupplyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommercialNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommercialNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxFileNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxFileNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">تعديل</a> |
    <a asp-action="Index">رجوع إلي القائمة</a>
</div>
