@model SecurityMS.Infrastructure.Data.Entities.SiteEmployeesEntity

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>حذف وظيفه من منطقة</h1>

<h3>هل تريد حذف @Model.Job.Name من @Model.Site.Name</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShiftValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeesPerShift)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeesPerShift)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Site)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Site.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Job)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Job.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShiftType.Name)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a class="btn btn-link" onclick="back()">رجوع</a>
    </form>
</div>
