@model IEnumerable<SecurityMS.Infrastructure.Data.Entities.AdvancedPaymentEntity>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>السلف</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.installments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAcceptable)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.PayedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.AcceptedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcceptedAt)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.installments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAcceptable)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.PayedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.AcceptedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcceptedAt)
            </td>*@
            <td>
                @*<a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-eye"></i></a>*@
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
