@using SecurityMS.Core.Models.Enums;
@model SecurityMS.Core.Models.EmployeeModel;

@{
    ViewData["Title"] = "تعديل بيانات الموظف";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>تعديل بيانات الموظف</h4>
<hr />
<form asp-action="Edit" class="row" enctype="multipart/form-data" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group col-md-4">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="FileNumber" class="control-label"></label>
        <input asp-for="FileNumber" class="form-control" />
        <span asp-validation-for="FileNumber" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4 col-sm-6">
        <label asp-for="EmployeeCode" class="control-label"></label>
        <input asp-for="EmployeeCode" class="form-control" />
        <span asp-validation-for="EmployeeCode" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4 col-sm-6">
        <label asp-for="NationalId" class="control-label"></label>
        <input asp-for="NationalId" class="form-control" />
        <span asp-validation-for="NationalId" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4 col-sm-6">
        <label asp-for="Phone" class="control-label"></label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4 col-sm-6">
        <label asp-for="Phone2" class="control-label"></label>
        <input asp-for="Phone2" class="form-control" />
        <span asp-validation-for="Phone2" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="JobId" class="control-label"></label>
        <select asp-for="JobId" class="form-control" asp-items="ViewBag.JobId"></select>
        <span asp-validation-for="JobId" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="InsuranceNumber" class="control-label"></label>
        <input asp-for="InsuranceNumber" class="form-control" />
        <span asp-validation-for="InsuranceNumber" class="text-danger"></span>
    </div>

    <div class="form-group col-md-6">
        <label asp-for="StartDate" class="control-label"></label>
        <input asp-for="StartDate" class="form-control" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="EndDate" class="control-label"></label>
        <input asp-for="EndDate" class="form-control" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>
    <div class="col-12">
        <h5>المرفقات</h5>
        <div class="row">
            <div class="form-group col-12">
                <div class="row">
                    <div class="col-12">
                        <label asp-for="IsIncludeBirthCertificate" class="control-label"></label>
                        <div class="form-check-inline">
                            <label class="form-check-inline" for="isIncludeBirthCertificate">
                                <input asp-for="IsIncludeBirthCertificate" type="radio" class="form-check-input customerType" id="isIncludeBirthCertificate" value=true>
                                نعم
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-inline" for="isCopyIncludeBirthCertificate">
                                <input asp-for="IsIncludeBirthCertificate" type="radio" class="form-check-input customerType" id="isCopyIncludeBirthCertificate" value=false>
                                صورة منها
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check" for="isNotIncludeBirthCertificate">
                                <input asp-for="IsIncludeBirthCertificate" type="radio" class="form-check-input customerType" id="isNotIncludeBirthCertificate" value="">لا
                            </label>
                        </div>
                        @if (string.IsNullOrEmpty(Model.BirthCertificateCopyPath))
                        {
                            <div class="form-check-inline">
                                <input class="employee-attachment" id="birthdayCopy" accept="image/*" type="file" hidden asp-for="BirthCertificateCopy" />
                                <label class="attachment-path px-2"></label>
                                <label for="birthdayCopy" class="btn btn-primary upload-btn">رفع صورة</label>
                            </div>
                        }
                        else
                        {
                            var parms = new Dictionary<string, string> { { "id", Model.Id.ToString() }, { "attachmentType", ((int)EmployeeAttachmentTypeEnum.BirthCertificate).ToString() } };
                            <div class="form-check-inline">
                                <input id="birthdayCopy" type="text" hidden asp-for="BirthCertificateCopyPath" />
                                <label class="btn btn-outline-success show-attachment" data-bs-toggle="modal" data-id="@Model.BirthCertificateCopyPath">عرض الصورة</label>
                            </div>
                            <div class="form-check-inline">
                                <a asp-action="DeleteAttachment" asp-all-route-data="parms" class="btn btn-outline-danger"><i class="fa fa-trash-alt"></i></a>
                            </div>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label asp-for="IsIncludeMilitaryCertificate" class="control-label"></label>
                        <div class="form-check-inline">
                            <label class="form-check-inline" for="isIncludeMilitaryCertificate">
                                <input asp-for="IsIncludeMilitaryCertificate" type="radio" class="form-check-input customerType" id="isIncludeMilitaryCertificate" value=true>
                                نعم
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-inline" for="isCopyIncludeMilitaryCertificate">
                                <input asp-for="IsIncludeMilitaryCertificate" type="radio" class="form-check-input customerType" id="isCopyIncludeMilitaryCertificate" value=false>
                                صورة منها
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check" for="isNotIncludeMilitaryCertificate">
                                <input asp-for="IsIncludeMilitaryCertificate" type="radio" class="form-check-input customerType" id="isNotIncludeMilitaryCertificate" value="">لا
                            </label>
                        </div>
                        @if (string.IsNullOrEmpty(Model.MilitaryCertificateCopyPath))
                        {
                            <div class="form-check-inline">
                                <input class="employee-attachment" id="MilitaryCertificateCopy" accept="image/*" type="file" hidden asp-for="MilitaryCertificateCopy" />
                                <label class="attachment-path px-2"></label>
                                <label for="MilitaryCertificateCopy" class="btn btn-primary upload-btn">رفع صورة</label>
                            </div>
                        }
                        else
                        {
                            <div class="form-check-inline">
                                <input id="MilitaryCertificateCopy" type="text" hidden asp-for="MilitaryCertificateCopyPath" />
                                <label class="btn btn-outline-success show-attachment" data-bs-toggle="modal" data-id="@Model.MilitaryCertificateCopyPath">عرض الصورة</label>
                            </div>
                            var parms = new Dictionary<string, string> { { "id", Model.Id.ToString() }, { "attachmentType", ((int)EmployeeAttachmentTypeEnum.MilitaryCertificate).ToString() } };

                            <div class="form-check-inline">
                                <a asp-action="DeleteAttachment" asp-all-route-data="parms" class="btn btn-outline-danger"><i class="fa fa-trash-alt"></i></a>
                            </div>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label asp-for="IsIncludeEducationCertificate" class="control-label"></label>
                        <div class="form-check-inline">
                            <label class="form-check-inline" for="isIncludeEducationCertificate">
                                <input asp-for="IsIncludeEducationCertificate" type="radio" class="form-check-input customerType" id="isIncludeEducationCertificate" value=true>
                                نعم
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-inline" for="isCopyIncludeEducationCertificate">
                                <input asp-for="IsIncludeEducationCertificate" type="radio" class="form-check-input customerType" id="isCopyIncludeEducationCertificate" value=false>
                                صورة منها
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check" for="isNotIncludeEducationCertificate">
                                <input asp-for="IsIncludeEducationCertificate" type="radio" class="form-check-input customerType" id="isNotIncludeEducationCertificate" value="">لا
                            </label>
                        </div>
                        @if (string.IsNullOrEmpty(Model.EducationCertificateSoftCopyPath))
                        {
                            <div class="form-check-inline">
                                <input class="employee-attachment" id="EducationCertificateSoftCopy" accept="image/*" type="file" hidden asp-for="EducationCertificateSoftCopy" />
                                <label class="attachment-path px-2"></label>
                                <label for="EducationCertificateSoftCopy" class="btn btn-primary upload-btn">رفع صورة</label>
                            </div>
                        }
                        else
                        {
                            <div class="form-check-inline">
                                <input id="EducationCertificateSoftCopy" type="text" hidden asp-for="EducationCertificateSoftCopyPath" />
                                <label class="btn btn-outline-success show-attachment" data-bs-toggle="modal" data-id="@Model.EducationCertificateSoftCopyPath">عرض الصورة</label>
                            </div>
                            var parms = new Dictionary<string, string> { { "id", Model.Id.ToString() }, { "attachmentType", ((int)EmployeeAttachmentTypeEnum.EducationCertificate).ToString() } };

                            <div class="form-check-inline">
                                <a asp-action="DeleteAttachment" asp-all-route-data="parms" class="btn btn-outline-danger"><i class="fa fa-trash-alt"></i></a>
                            </div>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label asp-for="IsIncludeIDCopy" class="control-label"></label>
                        <div class="form-check-inline">
                            <label class="form-check-inline" for="isIncludeIDCopy">
                                <input asp-for="IsIncludeIDCopy" type="radio" class="form-check-input customerType" id="isIncludeIDCopy" value=true>
                                نعم
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check" for="isNotIncludeIDCopy">
                                <input asp-for="IsIncludeIDCopy" type="radio" class="form-check-input customerType" id="isNotIncludeIDCopy" value=false>لا
                            </label>
                        </div>

                        @if (string.IsNullOrEmpty(Model.IDSoftCopyPath))
                        {
                            <div class="form-check-inline">
                                <input class="employee-attachment" id="IDSoftCopy" accept="image/*" type="file" hidden asp-for="IDSoftCopy" />
                                <label class="attachment-path px-2"></label>
                                <label for="IDSoftCopy" class="btn btn-primary upload-btn">رفع صورة</label>
                            </div>
                        }
                        else
                        {
                            <div class="form-check-inline">
                                <input id="IDSoftCopy" type="text" hidden asp-for="IDSoftCopyPath" />
                                <label class="btn btn-outline-success show-attachment" data-bs-toggle="modal" data-id="@Model.IDSoftCopyPath">عرض الصورة</label>
                            </div>
                            var parms = new Dictionary<string, string>
                                                                { { "id", Model.Id.ToString() }, { "attachmentType", ((int)EmployeeAttachmentTypeEnum.Identity).ToString() } };

                            <div class="form-check-inline">
                                <a asp-action="DeleteAttachment" asp-all-route-data="parms" class="btn btn-outline-danger"><i class="fa fa-trash-alt"></i></a>
                            </div>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label asp-for="IsIncludePersonalPhotos" class="control-label"></label>
                        <div class="form-check-inline">
                            <label class="form-check-inline" for="isIncludePersonalPhotos">
                                <input asp-for="IsIncludePersonalPhotos" type="radio" class="form-check-input customerType" id="isIncludePersonalPhotos" value=true>
                                نعم
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-inline" for="isCopyIncludePersonalPhotos">
                                <input asp-for="IsIncludePersonalPhotos" type="radio" class="form-check-input customerType" id="isCopyIncludePersonalPhotos" value=false>
                                صورة منها
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check" for="isNotIncludePersonalPhotos">
                                <input asp-for="IsIncludePersonalPhotos" type="radio" class="form-check-input customerType" id="isNotIncludePersonalPhotos" value="">لا
                            </label>
                        </div>

                        @if (string.IsNullOrEmpty(Model.PersonalPhotoSoftCopyPath))
                        {
                            <div class="form-check-inline">
                                <input class="employee-attachment" id="PersonalPhotoSoftCopy" accept="image/*" type="file" hidden asp-for="PersonalPhotoSoftCopy" />
                                <label class="attachment-path px-2"></label>
                                <label for="PersonalPhotoSoftCopy" class="btn btn-primary upload-btn">رفع صورة</label>
                            </div>
                        }
                        else
                        {
                            <div class="form-check-inline">
                                <input id="PersonalPhotoSoftCopy" type="text" hidden asp-for="PersonalPhotoSoftCopyPath" />
                                <label class="btn btn-outline-success show-attachment" data-bs-toggle="modal" data-id="@Model.PersonalPhotoSoftCopyPath">عرض الصورة</label>
                            </div>
                            var parms = new Dictionary<string, string>
                                                                                                    { { "id", Model.Id.ToString() }, { "attachmentType", ((int)EmployeeAttachmentTypeEnum.PersonalPhotos).ToString() } };

                            <div class="form-check-inline">
                                <a asp-action="DeleteAttachment" asp-all-route-data="parms" class="btn btn-outline-danger"><i class="fa fa-trash-alt"></i></a>
                            </div>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label asp-for="IsIncludeWorkStub" class="control-label"></label>
                        <div class="form-check-inline">
                            <label class="form-check-inline" for="isIncludeWorkStub">
                                <input asp-for="IsIncludeWorkStub" type="radio" class="form-check-input customerType" id="isIncludeWorkStub" value=true>
                                نعم
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check" for="isNotIncludeWorkStub">
                                <input asp-for="IsIncludeWorkStub" type="radio" class="form-check-input customerType" id="isNotIncludeWorkStub" value=false>لا
                            </label>
                        </div>
                        @if (string.IsNullOrEmpty(Model.WorkStubSoftCopyPath))
                        {
                            <div class="form-check-inline">
                                <input class="employee-attachment" id="WorkStubSoftCopy" accept="image/*" type="file" hidden asp-for="WorkStubSoftCopy" />
                                <label class="attachment-path px-2"></label>
                                <label for="WorkStubSoftCopy" class="btn btn-primary upload-btn">رفع صورة</label>
                            </div>
                        }
                        else
                        {
                            <div class="form-check-inline">
                                <input id="WorkStubSoftCopy" type="text" hidden asp-for="WorkStubSoftCopyPath" />
                                <label class="btn btn-outline-success show-attachment" data-bs-toggle="modal" data-id="@Model.WorkStubSoftCopyPath">عرض الصورة</label>
                            </div>
                            var parms = new Dictionary<string, string> { { "id", Model.Id.ToString() }, { "attachmentType", ((int)EmployeeAttachmentTypeEnum.WorkStub).ToString() } };

                            <div class="form-check-inline">
                                <a asp-action="DeleteAttachment" asp-all-route-data="parms" class="btn btn-outline-danger"><i class="fa fa-trash-alt"></i></a>
                            </div>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label asp-for="IsIncludeCriminalCertificate" class="control-label"></label>
                        <div class="form-check-inline">
                            <label class="form-check-inline" for="isIncludeCriminalCertificate">
                                <input asp-for="IsIncludeCriminalCertificate" type="radio" class="form-check-input customerType" id="isIncludeCriminalCertificate" value=true>
                                نعم
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check" for="isNotIncludeCriminalCertificate">
                                <input asp-for="IsIncludeCriminalCertificate" type="radio" class="form-check-input customerType" id="isNotIncludeCriminalCertificate" value=false>لا
                            </label>
                        </div>
                        @if (string.IsNullOrEmpty(Model.CriminalCertificateSoftCopyPath))
                        {
                            <div class="form-check-inline">
                                <input class="employee-attachment" id="CriminalCertificateSoftCopy" accept="image/*" type="file" hidden asp-for="CriminalCertificateSoftCopy" />
                                <label class="attachment-path px-2"></label>
                                <label for="CriminalCertificateSoftCopy" class="btn btn-primary upload-btn">رفع صورة</label>
                            </div>
                        }
                        else
                        {
                            <div class="form-check-inline">
                                <input id="CriminalCertificateSoftCopy" type="text" hidden asp-for="CriminalCertificateSoftCopyPath" />
                                <label class="btn btn-outline-success show-attachment" data-bs-toggle="modal" data-id="@Model.CriminalCertificateSoftCopyPath">عرض الصورة</label>
                            </div>
                            var parms = new Dictionary<string, string> { { "id", Model.Id.ToString() }, { "attachmentType", ((int)EmployeeAttachmentTypeEnum.CriminalCertificate).ToString() } };

                            <div class="form-check-inline">
                                <a asp-action="DeleteAttachment" asp-all-route-data="parms" class="btn btn-outline-danger"><i class="fa fa-trash-alt"></i></a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<hr />

        <div class="form-group col-md-4">
            <label class="control-label">المحافظه</label>
            <select class="form-control" name="government" asp-items="ViewBag.Governments" id="government"></select>
        </div>
        <div class="form-group col-md-4">
            <label class="control-label">المنطقة</label>
            <select class="form-control" name="zone" asp-items="ViewBag.Zones" id="zone"></select>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="SiteId" class="control-label"></label>
            <select asp-for="SiteId" class="form-control" asp-items="ViewBag.Sites" id="Sites"></select>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="ShiftSalary" class="control-label"></label>
            <input asp-for="ShiftSalary" class="form-control" />
        </div>
        <hr />*@

    <input type="hidden" asp-for="Id" />
    <div class="form-group col-12">
        <input type="submit" value="تعديل" class="btn btn-primary" />
    </div>
</form>

<div class="row">
    <div class="col-12 mt-3 text-right">
        <a asp-action="Index" class="btn btn-outline-dark mt-3 mx-2">رجوع </a>
        <a asp-controller="Home" asp-action="Main" class="btn btn-outline-dark mt-3 mx-2">رجوع للرئيسية</a>
    </div>
</div>

<partial name="_ImageViewer"></partial>

@section Scripts{
    <script>

        $("#zone").change(function () {
            getSitesByZoneId($(this).val());
        })

        $(".show-attachment").click(function () {
            var _path = $(this).attr("data-id");
            $("#imageViewerModal #imagePath").attr("src", _path)
            $("#imageViewerModal").modal("show");
        });

        $(".employee-attachment").on("change", function () {
            $(this).parent().find(".attachment-path").html($(this).val());
            $(this).parent().find(".upload-btn").html("تغير الصورة");
            $(this).parent().find(".upload-btn").removeClass("btn-primary");
            $(this).parent().find(".upload-btn").addClass("btn-outline-primary");
        })
    </script>
}