@model SecurityMS.Core.Models.TreasuryWithdrawReportsViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>تقارير اذونات الصرف</h1>

<hr />
<div class="row">
    <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.dateModel.StartDate" class="control-label"></label>
                <input asp-for="@Model.dateModel.StartDate" class="form-control" type="date" id="startdate" />
            </div>
                        <div class="form-group">
                <label asp-for="@Model.dateModel.EndDate" class="control-label"></label>
                <input asp-for="@Model.dateModel.EndDate" class="form-control" type="date" id="enddate"/>
            </div>

            <div class="form-group">
                <input  value="تحديث" class="btn btn-primary" onclick="getReports()"/>
            </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.dataModel.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataModel.count)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataModel.total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="reports">

    </tbody>
</table>



<div class="row">
    <div>
        <a asp-controller="TreasuryWithdrawPermissions" asp-action="Index" class="btn btn-default mt-3 mx-2">رجوع </a>
        <a asp-controller="Home" asp-action="Main" class="btn btn-default mt-3 mx-2">رجوع للرئيسية</a>
    </div>
</div>

<script>
    function getReports(){
        $("#reports tr").remove(); 
        var startD = document.getElementById("startdate").value;
        var endD = document.getElementById("enddate").value;
        console.log("start",startD);
        console.log("end",endD);
        var dates = {
            startDate: startD,
            endDate: endD,
        }
        $.ajax({
            url: '/TreasuryWithdrawReports/PopulateReport',
            type: "POST",
            data: dates,
            dataType: 'json',
            cache: false,
            success: function (data) {

                data.forEach((item)=>{
                       $('#reports').append(`<tr id="tableRow">
                                    <td>  ${item.name} </td>
                                    <td>  ${item.count} </td>
                                    <td>  ${item.total} </td>
                                  </tr>`) 
                })
            }

        });
    }
</script>
