@model IEnumerable<SecurityMS.Infrastructure.Data.Entities.SiteEquipmentsEntity>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Site)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Site.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipment.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
