@model SecurityMS.Infrastructure.Data.Entities.BankAccountsEntity

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>مسح</h1>

<h3>هل انت متاكد من مسح هذا الحساب؟؟</h3>
<div>
    <h4>مسح </h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IBAN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IBAN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
              <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentBalance)
        </dd
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpeningBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpeningBalance)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">العودة للقائمة</a>
    </form>
</div>
