@model IEnumerable<SecurityMS.Infrastructure.Data.Entities.Supply>

@{
    ViewData["Title"] = "التوريدات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>التوريدات</h1>

<p>
    <a asp-action="Create">اضافة توريد</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SupplyCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuppliedFromName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplyCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplyDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SuppliedFromName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierType.Name)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-eye"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
