@model SecurityMS.Infrastructure.Data.Entities.ItemEntity

@{
    ViewData["Title"] = "حذف صنف";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>حذف صنف</h1>

<h3>هل أنت متأكد انك تريد مسح هذا الصنف؟</h3>
<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableTotalCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableTotalCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumAlert)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumAlert)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="Index">رجوع</a>
    </form>
</div>
