@model SecurityMS.Infrastructure.Data.Entities.ItemEntity

@{
    ViewData["Title"] = "تفاصيل أدوات مكتبيه";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>تفاصيل أدوات مكتبيه</h1>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableTotalCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableTotalCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumAlert)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumAlert)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">تعديل</a> |
    <a asp-action="Index">رجوع</a>
</div>
