@model SecurityMS.Infrastructure.Data.Entities.Purchases

@{
    ViewData["Title"] = "حذف";
}


<h3>هل تريد حذف المورد؟</h3>
<div>
    <h4>Supplier</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supplier.SupplierName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplyTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplyType.SupplyName)
        </dd>
        @*@foreach(var item in Model.Items)
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(item => item.ItemId)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(item => item.)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => )
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CommercialNumber)
            </dd>
        }*@
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="Index">رجوع</a>
    </form>
</div>
