@model SecurityMS.Infrastructure.Data.Entities.EquipmentsEntity

@{
    ViewData["Title"] = "حذف معده";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>حذف معده</h1>

<h3>هل أنت متأكد انك تريد مسح هذه المعده؟</h3>
<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipmentTotalCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipmentTotalCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipmentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipmentType.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturing.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="Index">رجوع</a>
    </form>
</div>
